.issue_size{
    width: 800px;
    /*border: 5px solid black;*/
    margin: auto;
    padding-left: 20px;
    padding-right:20px;
    padding-top: 10px;
    border-radius: 5px;
}
.issue_upload_file{
    margin-left: 25px;
    margin-bottom: 20px;
    margin-top: 9px;
}
.issue_img_bg{
    width: 200px;
    height: 200px;
}
.issue_img_bg img{
    width: 200px;
    height: 200px;
}
.layui-label-position{
    width: 100px;
    text-align: right;
}