{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <link rel="stylesheet" href="{% static 'plugins/bootstrap-3.4.1-dist/css/bootstrap.css' %}">
    <style>
        body {
            background-size: 1424px 1000px;
        }

        .container {
            width: 400px;
            height: 300px;

            position: fixed;
            left: 0;
            right: 0;
            margin: 240px auto 0;

            background-color: #34495e;
            opacity: 0.8;

            border: 1px solid #5e5e5e;
            border-radius: 5px;
        }
    </style>
</head>
<body background="{% static 'img/login_background.png' %}">
<div>
    <div class="container clearfix">
        <h1 style="text-align: center ;font-family:新宋体; color:brown">用户登录</h1>

        <form id="form" method="post" action="/login/">{% csrf_token %}
            <div class="form-group">
                <span style="font-size: 20px;margin-left: 140px;color: white">用户名</span>
                <input id="name" class="form-control" type="text" name="username" placeholder="请输入用户名"/>
                <span style="color: red">{{ error }}</span>
            </div>
            <div class="form-group">
                <span style="font-size: 20px; margin-left: 150px;color: white">密 码</span>
                <input id="passwd" class="form-control " type="password" name="passwd" placeholder="请输入密码"/>
                <input id="pubkey" type="hidden" value="{{ pub_key }}">
            </div>

            <div>
                <input type="submit" class="btn btn-default col-sm-2 col-sm-offset-2 " value="登录"
                       onclick="en_password();"/>
                <a href="http://127.0.0.1:8000/register/">
                    <input type="button" class="btn btn-default col-sm-2 col-sm-offset-4" value="注册"/>
                </a>
            </div>
        </form>
    </div>
</div>

<script src="{% static 'js/jquery-3.6.1.js' %}"></script>
<script src="{% static 'js/jsencrypt.min.js' %}"></script>
<script type="text/javascript">
    function en_password() {
        let pwd = $('#passwd', 0, 0).val(); //明文密码
        if (pwd) {
            let pubkey = $('#pubkey', 0, 0).val(); //后台发送的公钥
            let jsencrypt = new JSEncrypt(); //创建加密对象
            jsencrypt.setPublicKey(pubkey); //设置密钥
            let en_pwd = jsencrypt.encrypt(pwd); //加密
            $('#passwd', 0, 0).val(en_pwd); //将加密后的数据返回给密码输入框
            $('#form', 0, 0).submit();
        } else {
            return true;
        }
    }
</script>
<script type="text/javascript">
    if (window.history.replaceState) {
        window.history.replaceState(null, null, window.location.href);
    }
</script>
</body>
</html>