{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户中心</title>
    <link rel="stylesheet" href="{% static 'plugins/bootstrap-3.4.1-dist/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/font-awesome-4.7.0/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/user_center.css' %}">
    <style>
        body {
            margin: 0;
            background-color: whitesmoke;
        }

        .header {
            background-color: #333;
        }

        .header .container {
            width: 1100px;
            margin: 0 auto;
        }

        .header .menu {
            float: left;
        }

        .header .account {
            float: right;
        }

        .header a {
            color: #b0b0b0;
            line-height: 40px;
            display: inline-block;
            font-size: 12px;
            margin-right: 10px;
        }

        .header .a:hover {
            color: white;
        }
    </style>
</head>
<body>
{# 导航头部 #}
<div class="header">
    <div class="container clearfix">
        <div class="menu">
            <a href="/index/">首页</a>
            <a>商品</a>
        </div>
        <div class="account">
            {% if user_name == None %}
                <a href="/login/">登录</a>
                <a href="/register/">注册</a>
            {% else %}
                <a href="/user_center/">{{ user_name }}</a>
                <a href="/index/issue_page">发布商品</a>
                <a href="/login_out/">退出</a>
            {% endif %}
        </div>
    </div>
</div>
{# 用户中心分类 #}
<div class="user_center clearfix">
    <div class="user_center_middle">
        <div>
            <img class="img-circle img_show" src="{% static 'img/login_background.png' %}" alt="130*130">
        </div>

        <div class="user_lift">
            <p style="color: black">{{ user_name }}</p>
        </div>

        <div class="user_lift">
            <div class="fa fa-shopping-bag tag_float"></div>
            <div id="fun_1" style="font-size: 15px; cursor: pointer;">我的发布</div>
        </div>

        <div class="user_lift">
            <div class="fa fa-shopping-cart tag_float"></div>
            <div id="fun_2" style="font-size: 15px; cursor: pointer;">购物车</div>
        </div>

        <div class="user_lift">
            <div class="fa fa-user-o tag_float"></div>
            <div id="fun_3" style="font-size: 15px; cursor: pointer;">个人信息</div>
        </div>

        <div class="user_lift">
            <div class="fa fa-comment-o tag_float"></div>
            <div id="fun_4" style="font-size: 15px; cursor: pointer;">意见反馈</div>
        </div>
    </div>

    <div class="user_center_right">
        <div id="show_1">
            {#  我的发布 #}
            {% for foo in issue_list %}
                <div>
                    <div>
                        <a>{{ foo.create_time }}</a>
                    </div>

                    <div>
                        <div>
                            <img src="{{ MEDIA_URL }}{{ foo.img }}"/>
                        </div>
                    </div>

                    <div>
                        <div>
                            <h2>{{ foo.name }}</h2>
                        </div>

                        <div>
                            <h2 style="float:left;">￥</h2>
                            <div>{{ foo.price }}</div>
                        </div>
                    </div>

                    <div>
                        <button class="btn btn-default" onclick="del_goods({{ foo.id }})" style="cursor:pointer;">删除</button>
                    </div>
                </div>
            {% endfor %}
        </div>

        <div id="show_2">
            {#  商品 #}
            {% for foo in cart_list %}
                <div>
                    <div>
                        <a>{{ foo.goods.create_time | date:"Y-m-d H:i:s" }}</a>
                    </div>

                    <div>
                        <div>
                            <img src="{{ MEDIA_URL }}{{ foo.goods.img }}"/>
                        </div>
                    </div>

                    <div>
                        <div>
                            <h2>{{ foo.goods.name }}</h2>
                        </div>
                        <div>
                            <h2>￥</h2>
                            <div>{{ foo.goods.price }}</div>
                        </div>
                    </div>
                    <div>
                        <button class="del_button1" onclick="buy_good({{ foo.goods.id }})" style="cursor: pointer">立即购买</button>
                        <button class="del_button2" onclick="del_cart({{ foo.goods.id }})" style="cursor:pointer">删除</button>
                    </div>
                </div>
            {% endfor %}
            <button class="del_button3" onclick="buy_allgood({{ foo.goods.id }})" style="cursor: pointer">全部购买</button>
        </div>

        <div id="show_3">
            <div>
                <div>
                    <div>
                        <a>头像</a>
                    </div>

                    <div>
                        <img id="show_img_2" src="{% static 'img/login_background.png' %}"/>
                    </div>

                    <div>
                        <input id="head_pic" type="file">
                    </div>
                </div>

                <div>
                    <div>
                        <a>*昵称</a>
                    </div>
                    <div>
                        <input type="text" name="goods_name" autocomplete="off" placeholder="用户信息">
                    </div>
                </div>
            </div>
        </div>

        <div id="show_4">
            <div>用任何问题请联系开发人员：15896586579</div>
        </div>
    </div>
</div>


<script src="{% static 'js/jquery-3.6.1.js' %}"></script>
<script src="{% static 'plugins/layui/layui.js' %}"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $('#show_1').hide();
        $('#show_3').hide();
        $('#show_4').hide();
        $('#show_2').show();
        $('#fun_1').click(function () {
            $('#show_2').hide();
            $('#show_3').hide();
            $('#show_4').hide();
            $('#show_1').show();
        });
        $('#fun_2').click(function () {
            $('#show_1').hide();
            $('#show_3').hide();
            $('#show_4').hide();
            $('#show_2').show();
        });
        $('#fun_3').click(function () {
            $('#show_1').hide();
            $('#show_2').hide();
            $('#show_4').hide();
            $('#show_3').show();
        });
        $('#fun_4').click(function () {
            $('#show_1').hide();
            $('#show_2').hide();
            $('#show_3').hide();
            $('#show_4').show();
        });
    });
</script>
</body>
</html>
