{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户中心</title>
    <link rel="stylesheet" href="{% static 'plugins/bootstrap-3.4.1-dist/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/font-awesome-4.7.0/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/user_center.css' %}">
    <style>
        body {
            margin: 0;
            background-color: whitesmoke;
        }

        .header {
            background-color: #333;
        }

        .header .container {
            width: 1100px;
            margin: 0 auto;
        }

        .header .menu {
            float: left;
        }

        .header .account {
            float: right;
        }

        .header a {
            color: #b0b0b0;
            line-height: 40px;
            display: inline-block;
            font-size: 12px;
            margin-right: 10px;
        }

        .header .a:hover {
            color: white;
        }
    </style>
</head>
<body>
{# 导航头部 #}
<div class="header">
    <div class="container clearfix">
        <div class="menu">
            <a href="/index/">首页</a>
            <a href="https://www.taobao.com">淘宝</a>
            <a href="https://www.jd.com">京东</a>
        </div>
        <div class="account">
            {% if user_name == None %}
                <a href="/login/">登录</a>
                <a href="/register/">注册</a>
            {% else %}
                <a href="/user_center/">{{ user_name }}</a>
                <a href="/index/issue_page">发布商品</a>
                <a href="/login_out/">退出</a>
            {% endif %}
        </div>
    </div>
</div>
{# 用户中心分类 #}
<div class="user_center clearfix">
    {# 用户中心左边界面 #}
    <div class="user_center_middle">
        {% if user.img == None %}
            <div>
                <img id="img_show_1" class="img-circle img_show" src="{% static 'img/touxiang.png' %}" alt="130*130">
            </div>
        {% else %}
            <div>
                <img id="img_show_1" class="img-circle img_show" src="{{ MEDIA_URL }}{{ user.img }}" alt="130*130">
            </div>
        {% endif %}
        <div class="user_lift">
            <p style="color: black">{{ user_name }}</p>
        </div>

        <div class="user_lift">
            <div class="fa fa-shopping-bag tag_float"></div>
            <div id="fun_1" style="font-size: 15px; cursor: pointer;">我的发布</div>
        </div>

        <div class="user_lift">
            <div class="fa fa-shopping-cart tag_float"></div>
            <div id="fun_2" style="font-size: 15px; cursor: pointer;">购物车</div>
        </div>

        <div class="user_lift">
            <div class="fa fa-user-o tag_float"></div>
            <div id="fun_3" style="font-size: 15px; cursor: pointer;">个人信息</div>
        </div>

        <div class="user_lift">
            <div class="fa fa-comment-o tag_float"></div>
            <div id="fun_4" style="font-size: 15px; cursor: pointer;">购物记录</div>
        </div>
    </div>

    {# 用户中心右边界面 #}
    <div class="user_center_right clearfix">
        <div id="show_1">
            {#  我的发布 #}
            {% for foo in issue_list %}
                <div class="show_1_1">
                    <div class="tou_20">
                        <a style="color: gray">{{ foo.create_time|date:"Y-m-d H:i:s" }}</a>
                    </div>

                    <div class="last_left">
                        <div class="left_bg">
                            <img src="{{ MEDIA_URL }}{{ foo.img }}"/>
                        </div>
                    </div>

                    <div class="last_middle">
                        <div class="last_middle_1">
                            <p>{{ foo.name }}</p>
                        </div>
                        {#                        <hr style="color:#eee; width: 643px"/>#}
                        <div class="last_middle_2">
                            <p style="float:left;font-weight: bolder">￥</p>
                            <div style="color: red">{{ foo.price }}</div>
                        </div>
                    </div>

                    <div class="last_right">
                        <button class="btn btn-default " onclick="del_goods({{ foo.id }})"
                                style="cursor:pointer;margin: auto;">删除
                        </button>
                    </div>
                </div>
            {% endfor %}
        </div>

        <div id="show_2">
            {#  商品 #}
            {% for foo in cart_list %}
                <div class="show_1_1">
                    <div class="tou_20">
                        <a style="color: gray">{{ foo.cart_create | date:"Y-m-d H:i:s" }}</a>
                    </div>

                    <div class="last_left">
                        <div class="left_bg">
                            <img src="{{ MEDIA_URL }}{{ foo.good.img }}"/>
                        </div>
                    </div>

                    <div class="last_middle">
                        <div class="last_middle_1">
                            <p>{{ foo.good.name }}</p>
                        </div>
                        <div class="last_middle_2">
                            <p style="float:left;font-weight: bolder">￥</p>
                            <div style="color: red">{{ foo.good.price }}</div>
                        </div>
                    </div>
                    <div class="last_right">
                        <button class="btn btn-default" onclick="buy_good({{ foo.good.id }})" style="cursor: pointer">
                            立即购买
                        </button>
                        <button class="btn btn-default" onclick="del_cart({{ foo.cart_id }})" style="cursor:pointer">删除
                        </button>
                    </div>
                </div>
            {% endfor %}
        </div>

        <div id="show_3">
                <div class="show_3_bg clearfix">
                    <div class="fir_flo">
                        <div class="touxiang_28">
                            <a style="color: black">头像</a>
                        </div>
                        {% if user.img == None %}
                            <div class="touxiang_img">
                                <img id="img_show_2" class="img-circle" src="{% static 'img/touxiang.png' %}"/>
                            </div>
                        {% else %}
                            <div class="touxiang_img">
                                <img id="img_show_2" class="img-circle" src="{{ MEDIA_URL }}{{ user.img }}"/>
                            </div>
                        {% endif %}
                        <div class="chose_file">
                            <input id="head_pic" type="file" name="head_img">
                        </div>
                    </div>

                    <div class="sec_flo">
                        <div class="left-size">
                            <a style="color: black">*昵称</a>
                        </div>
                        <div class="user_nicheng">
                            <input id="user_name" class="layui-input " type="text" name="user-nicheng"
                                   autocomplete="off"
                                   placeholder="用户昵称">
                        </div>
                        <div class="user-right">
                            <div class="layui-form-mid layui-word-aux" style="float: left;margin-left: 5px;">3-16位
                                汉字、数字、字母（大小写）、下划线组成
                            </div>
                        </div>
                    </div>

                    <div class="thi_flo">
                        <div class="left-size">
                            <a style="color: black">个性签名</a>
                        </div>
                        <div>
                            <div class="last_90">
                                <input id="user_information" type="text" name="user-information" autocomplete="off"
                                       class="layui-input"
                                       style="width: 100%;"/>
                            </div>
                        </div>
                    </div>

                    <div class="fou_flo">
                        <div class="left-size">
                            <a style="color: black">*性别</a>
                        </div>
                        <div style="float: left;">
                            <input id="user_sex" class="layui-input " type="text" name="user-sex" placeholder="男/女">
                        </div>
                    </div>

                    <div class="wu_flo">
                        <div class="left-size">
                            <a style="color: black">生日</a>
                        </div>
                        <div class="last_90">
                            <div class="layui-form-item">
                                <div class="layui-input-inline">
                                    <input id="user_birthday" class="layui-input birthday" type="date"
                                           name="user-birthday" value="2000-10-01">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="six_flo">
                        <div class="left-size">
                            <a style="color: black">所在地区</a>
                        </div>
                        <div class="last_90">
                            <input id="user_address" type="text" name="user-address" autocomplete="off"
                                   class="layui-input goods-title" style="width: 300px">
                        </div>
                    </div>
                    <div style="width: 930px">
                        <button class="btn btn-success" style="margin-left: 430px;" onclick="information_save()">
                            保存修改
                        </button>
                    </div>
                </div>
        </div>

        <div id="show_4">
            {% for foo in buy_list %}
                <div class="show_1_1">
                    <div class="tou_20">
                        <a style="color: gray">{{ foo.buy_create | date:"Y-m-d H:i:s" }}</a>
                    </div>

                    <div class="last_left">
                        <div class="left_bg">
                            <img src="{{ MEDIA_URL }}{{ foo.good.img }}"/>
                        </div>
                    </div>

                    <div class="last_middle">
                        <div class="last_middle_1">
                            <p>{{ foo.good.name }}</p>
                        </div>
                        <div class="last_middle_2">
                            <p style="float:left;font-weight: bolder">￥</p>
                            <div style="color: red">{{ foo.good.price }}</div>
                        </div>
                    </div>
                    <div class="last_right">
                        <button class="btn btn-default" onclick="del_buy({{ foo.cart_id }})" style="cursor:pointer">删除
                        </button>
                    </div>
                </div>
            {% endfor %}
            <div>用任何问题请联系开发人员：15896586579</div>
        </div>
    </div>
</div>


<script src="{% static 'js/jquery-3.6.1.js' %}"></script>
<script src="{% static 'plugins/layui/layui.js' %}"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $('#show_1').hide();
        $('#show_2').hide();
        $('#show_4').hide();
        $('#show_3').show();
        $('#fun_1').click(function () {
            $('#show_2').hide();
            $('#show_3').hide();
            $('#show_4').hide();
            $('#show_1').show();
        })
        ;
        $('#fun_2').click(function () {
            $('#show_1').hide();
            $('#show_3').hide();
            $('#show_4').hide();
            $('#show_2').show();
        })
        ;
        $('#fun_3').click(function () {
            $('#show_1').hide();
            $('#show_2').hide();
            $('#show_4').hide();
            $('#show_3').show();
        })
        ;
        $('#fun_4').click(function () {
            $('#show_1').hide();
            $('#show_2').hide();
            $('#show_3').hide();
            $('#show_4').show();
        })
        ;
    })
    ;
</script>

{# 删除，购买按钮的操作 #}
<script type="text/javascript">

    {# 发布商品的删除 #}
    function del_goods(id) {
        layer.confirm('是否要删除', {
            btn: ['是', '否']
        }, function () {
            $.ajax({
                url: "del_good",
                type: "GET",
                data: {"id": id},
                dataType: "json",
                success: function (data) {
                    console.log(data);
                    if (data === 1) {
                        layer.msg('删除成功');
                        setTimeout( function (){
                            window.location.reload();
                        }, 800);
                    }
                    if (data === 0) {
                        layer.msg("删除失败");
                    }
                },
                error: function () {
                    layer.msg("发送失败");
                }
            })
        }, function () {
        });
    }

    {# 购物车中商品的删除 #}
    function del_cart(id){
        layer.confirm('是否删除',{
            btn: ['是', '否']
        },function (){
            $.ajax({
                url: "del_cart/",
                type: "GET",
                data: {"id":id},
                dataType: "json",
                success: function (data){
                    if (data === 1){
                        layer.msg('删除成功')
                        setTimeout( function (){
                            window.location.reload();
                        }, 800);
                    }
                    if (data === 0){
                        layer.msg('删除失败');
                    }
                },
                error: function (){
                    layer.msg('发生未知错误');
                }
            })
        },function (){

        });
    }

    {# 购买商品 #}
    function buy_good(id){
        layer.confirm('是否购买',{
            btn: ['是', '否']
        },function (){
            $.ajax({
                url: "buy_good/",
                type: "GET",
                data: {"id": id},
                dataType: "json",
                success: function (data){
                    if (data === 1){
                        layer.msg('购买成功');
                        setTimeout( function (){
                            window.location.href = "/user_center";
                        }, 800);
                    }
                    if (data === 0){
                        layer.msg('购买失败');
                    }
                },
                error: function (){
                    layer.msg('未知错误');
                }
            });
        },function (){

        });
    }
</script>

{# 头像上传的操作 #}
<script type="text/javascript">
    $(function () {
        layui.use(['layer', 'form'], function () {
            let layer = layui.layer, form = layui.form;
            form.render();
        });
        $("#head_pic").change(function () {
            let $file = $(this);
            let fileObj = $file[0];
            let windowURL = window.URL || window.webkitURL;
            let dataURL;
            //let $img_1 = $("#img_show_1");
            let $img_2 = $("#img_show_2");
            if (fileObj && fileObj.files && fileObj.files[0]) {
                dataURL = windowURL.createObjectURL(fileObj.files[0]);
                //$img_1.attr('src', dataURL);
                $img_2.attr('src', dataURL);
            } else {
                dataURL = $file.val();
                let imgObj = document.getElementById("preview");
                imgObj.style.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=scale)";
                imgObj.filters.item("DXImageTransform.Microsoft.AlphaImageLoader").src = dataURL;
            }
        })
    })
</script>

{# 信息填充与发送 #}
<script type="text/javascript">

    let username = "{{ user.username }}";
    let user_information = "{{ user.information }}";
    console.log(user_information);
    let user_sex = "{{ user.sex }}";
    let user_birthday = "{{ user_birthday}}";
    console.log(user_birthday)
    let user_address = "{{ user.address }}";
    if (username) {
        $("#user_name").val(username);
    }
    if (user_information !== "None") {
        $("#user_information").val(user_information);
    }
    if (user_sex) {
        $("#user_sex").val(user_sex);
    }
    if (user_birthday !== "None") {
        $("#user_birthday").val(user_birthday);
    }
    if (user_address !== "None") {
        $("#user_address").val(user_address);
    }

    function information_save() {
        let formdata = new FormData();
        formdata.append("head_img", $("#head_pic")[0].files[0]);
        formdata.append("user_nicheng", $("#user_name").val());
        formdata.append("user_information", $("#user_information").val());
        formdata.append("user_sex", $("#user_sex").val());
        formdata.append("user_birthday", $("#user_birthday").val());
        formdata.append("user_address", $("#user_address").val());
        console.log(formdata)
        if ($("#user_name").val() === ""){
            layer.msg("昵称不能为空");
            return ;
        }
        if ($("#user_sex").val() === ""){
            layer.msg("性别不能为空");
            return ;
        }
        $.ajax({
            type: "POST",
            url: "user_information/",
            data: formdata,
            dataType: "json",
            processData: false,
            contentType: false,
            success: function (data) {
                if (data === 1) {
                    layer.msg("保存成功");
                    setTimeout(function (){
                        window.location.reload();
                    },800);
                } else if (data === 0) {
                    layer.msg("保存失败");
                }
            },
            error: function () {
                layer.msg("未知错误");
            }
        });
    }
</script>
</body>
</html>
